
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  background-image: url('/images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.02);
  pointer-events: none;
}

#root {
  position: relative;
  z-index: 1;
}



@font-face {
  font-family: 'Kiona-Regular';
  src: url('/fonts/kiona_2/Kiona-Regular.ttf') format('truetype');
}